
@{
    Layout = null;
}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BIBTour | Successfull</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link href="~/BIBTour/Pages/Succesfull.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Dongle:wght@700&display=swap"
          rel="stylesheet" />
</head>

<script>
    import './style.scss'



        document.addEventListener('DOMContentLoaded', () => {
            const interBubble = document.querySelector<HTMLDivElement>('.interactive')!;
            let curX = 0;
            let curY = 0;
            let tgX = 0;
            let tgY = 0;

            function move() {
                curX += (tgX - curX) / 20;
                curY += (tgY - curY) / 20;
                interBubble.style.transform = `translate(${Math.round(curX)}px, ${Math.round(curY)}px)`;
                requestAnimationFrame(() => {
                    move();
                });
            }

            window.addEventListener('mousemove', (event) => {
                tgX = event.clientX;
                tgY = event.clientY;
            });

            move();
        });
</script>
<body>
    <div class="text-container glass">Payment succesfull!</div>
    <div class="gradient-bg">
        <svg xmlns="http://www.w3.org/2000/svg">
            <defs>
                <filter id="goo">
                    <feGaussianBlur in="SourceGraphic"
                                    stdDeviation="10"
                                    result="blur" />
                    <feColorMatrix in="blur"
                                   mode="matrix"
                                   values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -8"
                                   result="goo" />
                    <feBlend in="SourceGraphic" in2="goo" />
                </filter>
            </defs>
        </svg>
        <div class="gradients-container">
            <div class="g1"></div>
            <div class="g2"></div>
            <div class="g3"></div>
            <div class="g4"></div>
            <div class="g5"></div>
            <div class="interactive"></div>
        </div>
    </div>
    <script type="module" src="/src/main.ts"></script>
</body>
</html>

